.career-cta-block {
  width: 100%;
  position: relative;
  padding: 3rem 1rem;
  margin-left: -6rem;
  overflow: visible;

  &.has-content-above {
    margin-top: 6rem;
  }

  &.no-content-below {
    margin-top: 6rem;
  }

  .cta-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    margin: 0 auto;
  }

  .cta-content {
    background: white;
    padding: 3rem 6rem 3rem 3rem;
    border-radius: 1.5rem;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
    max-width: 30%;
    z-index: 2;
    position: relative;
    top: -4rem;
  }

  .cta-image {
    position: absolute;
    right: 1rem;
    bottom: -3rem;
    z-index: 2;
    display: flex;
    align-items: flex-end;

    img {
      max-height: 480px;
      height: auto;
      width: auto;
      display: block;
      pointer-events: none;
    }
  }

  @media (max-width: 1080px) {
    .cta-content {
      padding: 3rem 8rem 3rem 3rem;
    }
  }

  @media (max-width: 970px) {
    .cta-content {
      padding: 3rem 10rem 3rem 3rem;
    }

    .cta-image {
      right: -1rem;
    }
  }

  @media (max-width: 768px) {
    margin-left: -4rem;

    &.has-content-above {
      margin-top: 2rem;
    }

    .cta-wrapper {
      flex-wrap: nowrap;
      padding: 3rem 1rem;
    }

    .cta-content {
      max-width: 100%;
      padding: 2rem;
      font-size: 1rem;
      margin-left: 6rem;
    }

    .cta-image {
      position: absolute;
      bottom: -3rem;

      img {
        max-width: 40vw;
        max-height: 300px;
      }
    }
  }

  @media (max-width: 480px) {
    // margin-bottom: 4rem;

    .cta-image img {
      max-height: 200px;
      max-width: 50vw;
    }
  }
}
