.wp-block-advancedcare-two-column-cta {
    background-color: #282b35;
    color: #fff;
    width: 100%;
    margin-bottom: 0;
  
    .two-col-cta-wrapper {
      display: flex;
      flex-wrap: wrap;
      align-items: stretch;
      width: 100%;
      // âŒ Remove the gap
    }
  
    .two-col-cta-text {
      flex: 1 1 50%;
      display: flex;
      align-items: center;
  
      > .alignwide {
        width: 100%;
        padding-block: 3rem;
  
        .inner-content {
            padding-left: calc((100vw - 1100px) / 1.9);
            padding-right: 2rem;
            margin-left: 1rem;
  
          h2 {
            font-size: 2.25rem;
            font-weight: 700;
            margin-bottom: 1rem;
            text-transform: uppercase;
          }
  
          p {
            font-size: 1rem;
            line-height: 1.6;
            margin-bottom: 1rem;
          }
  
          .wp-block-buttons {
            margin-top: 2rem;
  
            .wp-block-button__link {
              background-color: #fff;
              font-weight: bold;
              border-radius: 999px;
            }
          }
        }
      }
    }
  
    .two-col-cta-image {
      flex: 1 1 50%;
      min-height: 100%;
      display: flex;
      align-items: stretch;
      justify-content: center;
      position: relative;
  
      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
  
      .image-placeholder {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #444;
        color: #fff;
        min-height: 300px;
      }
    }
  
    @media (max-width: 768px) {
      .two-col-cta-wrapper {
        flex-direction: column;
      }
  
      .two-col-cta-text,
      .two-col-cta-image {
        flex: 1 1 100%;
        width: 100%;
        max-width: 100%;
      }
  
      // .two-col-cta-image {
      //   min-height: 250px;
      // }
  
      .two-col-cta-text > .alignwide .inner-content h2 {
        margin-top: 0;
      }
      .two-col-cta-text>.alignwide {
        padding-top: 1rem;
    }
    }
  }
  